<header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/projects">Projects</a></li>
    </ul>
  </nav>
</header>

<style>
  ul{
    display: flex;
    gap: clamp(1.3rem, 4vw, 28px);
    margin: 0;
    padding: 20px;
    background: #eee;
  }
  li{
    list-style: none;
  }
</style>