---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";

// Get blog collection
const posts = await getCollection('blog')
---

<Layout title="Blog">
  <h1>Blog</h1>
  <p>These are my blog articles.</p>

  <ul>
    {posts.map(post => (
      <li>
        <a href={`/blog/${post.data.id}`}>
          {post.data.title} - {post.data.author}
        </a>
      </li>
    ))}
  </ul>
</Layout>

<style>
  ul{
    padding: 0 0 0 20px;
  }
  li+li{
    margin-top: 10px;
  }
</style>