---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";

// Get products collection
const posts = await getCollection('project')
---

<Layout title="Projects">
  <h1>Projects</h1>
  <p>These are my projects.</p>

  <ul>
    {posts.map(post => (
      <li>
        <a href={`/projects/${post.data.id}`}>
          {post.data.title} - {post.data.author}
        </a>
      </li>
    ))}
  </ul>
</Layout>

<style>
  ul{
    padding: 0 0 0 20px;
  }
  li+li{
    margin-top: 10px;
  }
</style>
